/*Personalizacion del index*/
body{
    background-color:rgba(222, 230, 240);
    color:azure;
    margin: 0%;
}
h1{
    color:azure;
    background-color:rgba(15, 149, 238, 0.719);
    padding-left: 2%;
}
li{
    color:rgb(0, 0, 0);
    padding-left: 1%;
}
h2{
    color:rgb(0, 0, 0);
    padding-left: 1%;

}
/*Personalizacion del menu */
#indumentaria{
    width: 69%;
    margin: 5%;
    margin-left: 15%;
    background-color:rgb(255, 255, 255);
    border-width: 3px;

}
.plato{
    width: 90%;
}
.foto{
    width: 30%;
    margin: 1.5%;
    display: inline-block;
    vertical-align: middle;
}
img{
    width: 100%;
}
.cuidados{
    width: 100%;
}
.fotogrande{
    width: 30%;
}
.texto{
    width: 60%;
    margin: 0%;
    display: inline-block;
    vertical-align: middle;
}
.pagination{
    margin-left: 32%;
    
}
